<div class="container">
    <h1>Enviar Reporte de Problema</h1>
    <form [formGroup]="reportProblemForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="problemArea">Área del Problema:</label>
        <input id="problemArea" formControlName="problemArea" type="text" />
      </div>
      
      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
    
      <div class="form-group">
        <label for="status">Estado:</label>
        <select id="status" formControlName="status">
          <option value="alta">Alta</option>
          <option value="media">Media</option>
          <option value="baja">Baja</option>
        </select>
      </div>
    
      <button type="submit">Enviar Reporte</button>
    </form>
  </div>
  