<div class="container mt-4">
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let item of paginatedList; trackBy: trackById" class="col">
      <div class="card h-100">
        <model-viewer *ngIf="item.model" class="rounded-3" [src]="item.model" alt="3D Model"
        auto-rotate camera-controls ar>
      </model-viewer>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            <strong>Calificación:</strong>
            <igc-rating [value]="item.rate" min="0" max="5" readonly="true"></igc-rating>
          </p>
          <div class="row">
            <div class="col-6 der">
              <button (click)="viewProducts(item)" class="btn btn-add">
                Ver Productos
              </button>
            </div>
            <div class="col-6 izq">
              <button (click)="showDetailModal(item, modal)" class="btn btn-see">
                Calificar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div  class="col-12 mb-2">
      <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
            <a class="page-link" (click)="goToPage(currentPage - 1)">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(Math.ceil(itemList.length / itemsPerPage)); let i = index"
            [ngClass]="{'active': currentPage === i + 1}">
            <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [ngClass]="{'disabled': currentPage === Math.ceil(itemList.length / itemsPerPage)}">
            <a class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  

  <app-modal #modal>
    <div class="modalE">
      <div class="modal-body">
        <h2 class="modal-title">Calificar a {{ selectedItem.name }}</h2>
        <change-rating [rating]="ratingValue"  (ratingChange)="handleRatingChange($event)"></change-rating>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleFormAction($event, modal)">Calificar</button>
      </div>
    </div>
  </app-modal>

</div>