.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .subrayado{
    text-decoration-line: underline;
      text-decoration-thickness: 2px; /* Grosor de la línea subrayada */
      text-underline-offset: 4px; /* Espaciado entre el texto y la línea */
  }
  .rowLabel {
    padding-left: 20px;
    padding-right: 5px;
  }
  
  /* Estilos para los títulos */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilos para los campos y etiquetas */
  .form-label {
    font-weight: bold;
    color: #555;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .divDanger {
    padding-left: 0;
  }
  /* Estilos para los botones de acción */
  .btn-success, .btn-danger {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-success {
    background-color: #087c13;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #018b0f;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  