<div class="table-container table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Buyer</th>
        <th scope="col">Shipping Address</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList; trackBy: trackByFn">
        <th scope="row">{{order.id}}</th>
        <td>{{order.design?.product?.name}}</td>
        <td>{{order.userBuyer?.name}} {{order.userBuyer?.lastname}}</td>
        <td>{{order.deliveryLocation}}</td>
        <td>{{order.status}}</td>
        <td>{{order.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>
