<div class="d-flex bg-white flex-column p-3">
  <div class="d-flex flex-row align-items-center my-3 px-2 justify-content-between">
    <div>
      <h3>{{productService.item$().userBrand?.brandName}} > {{productService.item$().category?.description}} >
        {{productService.item$().name}}</h3>
    </div>
  </div>
  <div class="d-flex flex-row gap-4 flex-wrap">
    <div class="d-flex flex-column flex-fill gap-2">
      <app-tridimentional-design [product]="this.productService.item$()"></app-tridimentional-design>
    </div>
  </div>
</div>