<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img width="250" class="img-fluid mb-4" src="../../../../assets/icons/jbart-logo.png" alt="Logo" />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="generateOtp($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4 style="text-align: center;">Restablecer Contraseña</h4>
              <small style="color: #4f4f4f;">Digite su correo electrónico para restablecer contraseña</small>
            </div>
            <div class="form-group mb-3">
              <label style="text-align: center;" for="email" class="form-label mb-2">Dirección de correo electrónico</label>
              <input #email="ngModel" type="text" class="form-control" id="email" name="email"
                placeholder="agent@gmail.com" [(ngModel)]="loginForm.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Porfavor agregue un correo electrónico valido
              </div>
            </div>
            <div class="form-group mb-3">
              <button class="btn btn-dark btn-block w-100" type="submit">
                Restablecer Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>