<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img width="250" class="img-fluid mb-4" src="../../../../assets/icons/jbart-logo.png" alt="Logo" />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="resetPassword($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4 style="text-align: center;">Validar OTP</h4>
              <small style="color: #4f4f4f;">Ingrese los detalles para restablecer su contraseña</small>
            </div>
            <div class="form-group mb-3">
              <label style="text-align: center;" for="email" class="form-label mb-2">Dirección de correo electrónico</label>
              <input #email="ngModel" type="email" class="form-control" id="email" name="email"
                placeholder="agent@gmail.com" [(ngModel)]="email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Por favor agregue un correo electrónico válido
              </div>
            </div>
            <div class="form-group mb-3">
              <label style="text-align: center;" for="otpCode" class="form-label mb-2">Código OTP</label>
              <input #otpCode="ngModel" type="text" class="form-control" id="otpCode" name="otpCode"
                placeholder="123456" [(ngModel)]="otpCode" [ngClass]="{
                  'is-invalid': otpCode.invalid && otpCode.touched,
                  'is-valid': otpCode.valid && otpCode.touched
                }" required />
              <div *ngIf="otpCode.invalid" class="invalid-feedback">
                Por favor agregue un código OTP válido
              </div>
            </div>
            <div class="form-group mb-3">
              <label style="text-align: center;" for="newPassword" class="form-label mb-2">Nueva Contraseña</label>
              <input #newPassword="ngModel" type="password" class="form-control" id="newPassword" name="newPassword"
                placeholder="********" [(ngModel)]="newPassword" [ngClass]="{
                  'is-invalid': newPassword.invalid && newPassword.touched,
                  'is-valid': newPassword.valid && newPassword.touched
                }" required />
              <div *ngIf="newPassword.invalid" class="invalid-feedback">
                La nueva contraseña es requerida
              </div>
            </div>
            <div class="form-group mb-3">
              <button class="btn btn-dark btn-block w-100" type="submit">
                Restablecer Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>