<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Comprador</th>
        <th scope="col">Dirección</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      @for (item of brandOrderList; track $index) {
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.product?.name}}</td>
        <td>{{item.userBuyer?.name}} {{item.userBuyer?.lastname}}</td>
        <td>{{item.shippingAddress}} {{item.userBuyer?.deliveryLocation}}</td>
        <td>{{item.status}}</td>
        <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <button type="button" (click)="showDetailModal(item, detailModal)" class="btn btn-secondary">
            <i class="fa-solid fa-eye white"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal #detailModal>
  <app-brand-order-form 
    [order]="selectedItem" 
    [action]="'Actualizar Order'"
    (callParentEvent)="handleFormAction($event)"/>
</app-modal>
