<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Comprador</th>
        <th scope="col">Dirección</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of brandOrderList; trackBy: trackByFn">
        <th scope="row">{{order.id}}</th>
        <td>{{order.product?.name}}</td>
        <td>{{order.userBuyer?.name}} {{order.userBuyer?.lastname}}</td>
        <td>{{order.shippingAddress}} {{order.userBuyer?.deliveryLocation}}</td>
        <td>{{order.status}}</td>
        <td>{{order.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>
