.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.subrayado{
  text-decoration-line: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 4px; 
}
.rowLabel {
  padding-left: 20px;
  padding-right: 5px;
}


h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}


.form-label {
  font-weight: bold;
  color: #555;
}

p {
  margin-bottom: 0;
}

.divDanger {
  padding-left: 0;
}

.btn-success, .btn-danger {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-success {
  background-color: #087c13;
  color: #fff;
}

.btn-success:hover {
  background-color: #018b0f;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary {
  background-color: #007bff; 
  border-color: #007bff; 
  color: #ffffff; 
}

.btn-primary:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

.titulo {
  font: 600 40px / 35px Roboto;
  color: #4b545c;
  padding-left: 16px;
  margin-bottom: 6px !important; 
}

.divisor {
  position: relative;
  margin-bottom: 40px;
}

.divisor::after {
  content: "";
  display: block;
  width: 20%; 
  border-bottom: 2.8px solid #4a4d54; 
  position: absolute;
  bottom: 0;
  left: 3.5%; 
  right: 40%;
  top: 0;
}
