<form class="container">
  <div>
    <h2 class="titulo">Detalle Marca</h2>
  </div>
   <div class="divisor"></div>

  <div class="row">
    <div class="row rowLabel">
      <div class="col-6 mb-2">
        <label for="legalId" class="form-label mb-2">Cédula Jurídica</label>
        <p>{{ brandUser.legalId }}</p>
      </div>
      <div class="col-6 mb-2">
        <label for="brandName" class="form-label mb-2">Nombre de la Marca</label>
        <p>{{ brandUser.brandName }}</p>
      </div>
      <div class="col-6 mb-2">
        <label for="legalRepresentativeName" class="form-label mb-2">Representante Legal</label>
        <p>{{ brandUser.legalRepresentativeName }}</p>
      </div>
      <div class="col-6 mb-2">
        <label for="mainLocationAddress" class="form-label mb-2">Dirección Principal</label>
        <p>{{ brandUser.mainLocationAddress }}</p>
      </div>
      <div class="col-6 mb-2">
        <label for="brandCategories" class="form-label mb-2">Categorías de la Marca</label>
        <p>{{ brandUser.brandCategories }}</p>
      </div>
      <div class="col-6 mb-2">
        <label for="email" class="form-label mb-2">Correo Electrónico</label>
        <p>{{ brandUser.email }}</p>
      </div>

      
      <div class="col-6 mb-2">
        <label for="logoType" class="form-label mb-2">Logo</label>
        <img [src]="brandUser.logoType" class="img-fluid" alt="Logo">
      </div>
      
      <div class="col-6 mb-2">
        <label for="legalDocuments" class="form-label mb-2">Documentos Legales</label>
        <a [href]="brandUser.legalDocuments" target="_blank" class="btn btn-primary"><i class="fas fa-download icon-documents"></i> Descargar</a>
      </div>
    </div>

    <div class="col-6">
      <button
      (click)="callEvent();"
      type="button"
      class="btn btn-up btn-block d-flex align-items-center">
      <p class="mb-0" > Aprobar </p>
    </button>
    </div>

    <div class="col-6 divDanger">
      <button 
      (click)="deleteEvent();" 
      type="button" 
      class="btn btn-del btn-block d-flex align-items-center">
      <p class="mb-0"> Rechazar </p>
      </button>
    </div>
  
  </div>
</form>