<div class="avatar-wrapper">
  <div class="avatar-preview" *ngIf="avatar; else noAvatar">
    <img [src]="avatar.head" *ngIf="avatar?.head" class="avatar-part-img head-img" alt="Head">
    <img [src]="avatar.face" *ngIf="avatar?.face" class="avatar-part-img face-img" alt="Face">
    <img [src]="avatar.facialHair" *ngIf="avatar?.facialHair" class="avatar-part-img facial-hair-img" alt="Facial Hair">
    <img [src]="avatar.accessories" *ngIf="avatar?.accessories" class="avatar-part-img accessories-img" alt="Accessories">
    <img [src]="avatar.pose" *ngIf="avatar?.pose" class="avatar-part-img pose-img" alt="Pose">

    <div class="row boton">
      <button
        (click)="deleteAvatar(avatar.id!);"
        type="button"
        class="btn btn-up d-flex align-items-center">
        <p class="mb-0"> Eliminar Avatar </p>
      </button>
    </div>
  </div>
</div>

<ng-template #noAvatar>
  <div class="no-avatar-container">
    <i class="fas fa-exclamation-circle no-avatar-icon"></i>
    <p class="no-avatar-message">No hay un avatar disponible.</p>
    <button class="btn btn-add" (click)="createAvatar()">Crear Avatar</button>
  </div>
</ng-template>