.container-fluid {
    padding: 0;
    margin: 0;
  }
  
  .header-section {
    position: relative;
    height: 80vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-color: #062489;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px; /* Limita el ancho máximo del container */
    height: 470px; /* Limita el ancho máximo del container */
  }
  
  .left-content {
    flex: 2; /* Más espacio para el contenido de la izquierda */
    text-align: center;
    padding: 20px; /* Espacio alrededor del contenido */
  }
  
  .right-content {
    flex: 1; /* Menos espacio para el contenido de la derecha */
    text-align: center;
    padding: 20px; /* Espacio alrededor del contenido */
  }
  
  .left-content h1 {
    color: #a6ce38;
    margin-bottom: 27px;
    font-weight: bold;
    font: 800 70px / 35px Roboto;
  }
  
  .left-content h2 {
    color: #94c117;
    margin-top: 40px;
    font: 800 40px / 35px Roboto;
  }
  
  .left-content p {
    font-size: 30px;
    color: #ffffff;
    font: 300 25px / 35px Roboto;
  }
  
  .right-content .logo {
    width: 600px;
    max-width: 750px;
  }
  
  .main-content {
    padding: 40px;
    background: #f8f9fa;
  }
  
  .main-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 16px;
    color: #333333;
  }
  
  .registrer-button {
    background-color: #f0450f;
    color: #ffffff;
    font-size: 25px;
    border: none;
    padding: 15px 130px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: #fb6837;
  }


  /* Nueva sección para el SVG */
.tools-wave-section {
    position: relative; /* Asegura que el SVG se posicione correctamente dentro de esta sección */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100px; /* Ajusta la altura según el diseño */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
    background-color: #062489;
  }
  
  /* SVG de ondas en la orilla inferior */
  .hero-waves {
    bottom: 0; /* Alineado a la parte inferior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100px; /* Ajusta la altura según el diseño */
    z-index: -1; /* Asegura que el SVG esté detrás del contenido */
  }
  

.tools-wave-section-top {
  position: relative; /* Asegura que el SVG se posicione correctamente dentro de esta sección */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100px; /* Ajusta la altura según el diseño */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  background-color: #062489;
}

/* SVG de ondas en la orilla inferior */
.hero-waves-top {
  top: 0;  /* Alineado a la parte inferior */
  left: 0;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100px; /* Ajusta la altura según el diseño */
  z-index: -1; /* Asegura que el SVG esté detrás del contenido */
  transform: rotate(180deg); /* Voltea el SVG verticalmente */
}




  
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.services-intro {
  position: relative;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    background-color: #062489;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
  animation: fadeIn 1s ease-out forwards;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px; /* Limita el ancho máximo del container */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Fondo con sombra */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  .left-content h1 {
    color: #a6ce38;
    margin-bottom: 27px;
    font-weight: bold;
    font: 800 70px / 35px Roboto;
  }
  
  .left-content h2 {
    color: #94c117;
    margin-top: 40px;
    font: 800 40px / 35px Roboto;
  }
  
  .left-content p {
    font-size: 30px;
    color: #ffffff;
    font: 400 20px / 35px Roboto;
  }

  .intro-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    animation: fadeIn 1s ease-out forwards;
  }

  .intro-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.3s; /* Retraso para que aparezca después del título */
    max-width: 700px;
    margin: 0 auto;
  }

  .intro-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    color: #fff;
    background-color: #007bff; /* Color del botón */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.6s; /* Retraso para que aparezca después de la descripción */

    &:hover {
      background-color: #0056b3; /* Color del botón al pasar el cursor */
      transform: scale(1.05); /* Efecto de escala en hover */
    }
  }
}




  
.footer-small {
    background-color: #181818; /* Color de fondo */
    color: #fff;
    padding: 20px;
    text-align: center;
  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; /* Espacio entre los elementos */
  
      .logo-container {
        align-items: center;
        
        .logo {
          width: 150px; /* Ajusta según el tamaño deseado del logo */
          height: auto;
          margin-right: 40px;
          margin-bottom: 15px;
        }
  
        .footer-name {
          font: 600 30px / 35px Roboto;
          margin: 0;
        }
      }
  
      .footer-nav {
        list-style: none;
        padding: 0;
        margin: 0px 0;
        display: flex;
        gap: 15px;
  
        a {
          color: white;
          text-decoration: none;
          font: 50 20px / 35px Roboto;
          transition: color 0.3s;
  
          &:hover {
            color: #f0450f;
          }
        }
      }
  
      .register-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #f0450f;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font: 400 20px / 35px Roboto;
        transition: background-color 0.3s, transform 0.3s;
  
        &:hover {
          background-color: #fb6837;
          transform: scale(1.05);
        }
      }
    }
  }


  .platform-advantages {
    padding: 40px 0;
    background-color: #062489;
    color: white;
  
    h2 {
      text-align: center;
      margin-bottom: 30px;
      font: 600 40px / 40px Roboto, sans-serif;
    }
  
    .advantage-item {
      text-align: center;
      margin-bottom: 30px;
      padding: 20px;
      background-color: #1938a2;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      .icon {
        font-size: 2.5rem;
        color: #94c117;
        margin-bottom: 15px;
      }
  
      h4 {
        font: 600 20px / 25px Roboto, sans-serif;
        margin-bottom: 10px;
        color: #a6ce38;
      }
  
      p {
        font: 200 18px / 22px Roboto, sans-serif;
        color: white;
      }
    }
  }