<app-layout-landing>
<div class="container-fluid">
  <section id="index" class="header-section">
    <app-background-particles></app-background-particles>
    <div class="container">
      <div class="left-content">
        <h1>JJARB</h1>
        <h2>¡Codea para el futuro!</h2>
        <p>En JJARB, nos dedicamos a convertir visiones en realidades, utilizando la tecnología y la creatividad para diseñar soluciones únicas que impulsan el éxito y la innovación en cada proyecto.</p>
        <button routerLink="/landingProduct" class="login-button">Ver Servicios</button>
      </div>
      <div class="right-content">
        <img src="assets/icons/JJARB.png" alt="JJARB Logo" class="logo">
      </div>
    </div>
  </section>
  <section id="tools" class="tools-content">
    <div class="tools-container">
      <h2 class="tools-title">Herramientas Tecnológicas</h2>
      <p class="intro-text">Bienvenidos a nuestro mundo de desarrollo, desde la creación de interfaces atractivas hasta la magia detrás de escena, estamos preparados para llevar tus ideas a la vida. Con habilidades tanto en front-end como en back-end, podemos construir experiencias digitales que cautivan y hacen brillar tu proyecto.</p>
      <div class="divider"></div>
      <div class="row tools-grid">
          <div class="tool-category col-4 col-md-3">
              <h3 class="category-title">Front-end:</h3>
              <ul class="tool-list">
                  <li><i class="fa-brands fa-html5"></i> HTML</li>
                  <li><i class="fab fa-css3-alt"></i> CSS</li>
                  <li><i class="fab fa-js"></i> JavaScript</li>
                  <li><i class="fab fa-react"></i> React</li>
                  <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
                  <li><i class="fab fa-js"></i> jQuery</li>
                  <li><i class="fab fa-angular"></i> Angular</li>
              </ul>
          </div>
          <div class="tool-category col-4 col-md-3">
              <h3 class="category-title">Back-end:</h3>
              <ul class="tool-list">
                  <li><i class="fab fa-java"></i> Java</li>
                  <li><i class="fab fa-spring"></i> Spring Boot</li>
                  <li><i class="fab fa-windows"></i> C#</li>
                  <li><i class="fab fa-windows"></i> ASP.NET</li>
              </ul>
          </div>
          <div class="tool-category col-4 col-md-3">
              <h3 class="category-title">Bases de Datos:</h3>
              <ul class="tool-list">
                  <li><i class="fi fi-brands-oracle"></i> Oracle</li>
                  <li><i class="fab fa-envira"></i> MongoDB</li>
                  <li><i class="fas fa-database"></i> MySQL</li>
                  <li><i class="fas fa-database"></i> Microsoft SQL Server</li>
              </ul>
          </div>
          <div class="tool-category col-4 col-md-3">
              <h3 class="category-title">Otros:</h3>
              <ul class="tool-list">
                  <li><i class="fab fa-git"></i> Git</li>
                  <li><i class="fab fa-bitbucket"></i> Bitbucket Pipelines</li>
                  <li><i class="fab fa-aws"></i> AWS</li>
                  <li><i class="fab fa-microsoft"></i> Azure DevOps</li>
              </ul>
          </div>
      </div>
    </div>
    
  </section>
  
  <section class="tools-wave-section">
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
      </g>
    </svg>
  </section>

  <section id="team" class="team-section">
    <h2 class="team-title">Nuestro Equipo</h2>
    <div class="team-container">
      <div class="team-card">
        <img src="assets/icons/Rob.png" alt="Robert David Araya Carrillo" class="team-photo">
        <h3 class="team-name">Robert David Araya Carrillo</h3>
        <p class="team-role">Coordinador de Calidad</p>
        <p class="team-strengths"><strong>Fortalezas:</strong> Full Stack, amigable, liderazgo, perseverante, amable.</p>
      </div>
      <div class="team-card">
        <img src="assets/icons/Jai.png" alt="Jaikel Adrián Guzmán Carazo" class="team-photo">
        <h3 class="team-name">Jaikel Adrián Guzmán Carazo</h3>
        <p class="team-role">Coordinador de Desarrollo</p>
        <p class="team-strengths"><strong>Fortalezas:</strong> Full Stack, base de datos, comunicación, liderazgo, resolución de conflictos.</p>
      </div>
      <div class="team-card">
        <img src="assets/icons/Bray.png" alt="Braylie Nicole Ureña Miranda" class="team-photo">
        <h3 class="team-name">Braylie Nicole Ureña Miranda</h3>
        <p class="team-role">Coordinador de Soporte</p>
        <p class="team-strengths"><strong>Fortalezas:</strong> Trabajo en equipo, Creatividad, Full Stack.</p>
      </div>
      <div class="team-card">
        <img src="assets/icons/Andr.png" alt="Andrey Acosta Ramirez" class="team-photo">
        <h3 class="team-name">Andrey Acosta Ramirez</h3>
        <p class="team-role">Coordinador de Calidad</p>
        <p class="team-strengths"><strong>Fortalezas:</strong> Trabajo, honestidad, esfuerzo, Full Stack.</p>
      </div>
      <div class="team-card">
        <img src="assets/icons/Max.png" alt="Juan Maswell Chinchilla Abarca" class="team-photo">
        <h3 class="team-name">Juan Maswell Chinchilla Abarca</h3>
        <p class="team-role">Coordinador general</p>
        <p class="team-strengths"><strong>Fortalezas:</strong> Full Stack, trabajo en equipo, criterio, confianza, experiencia, esfuerzo, empático.</p>
      </div>
    </div>
  </section>

  <section class="tools-wave-section-top">
    <svg class="hero-waves-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
      </g>
    </svg>
  </section>

  <section id="about" class="mission-vision-section">
    <h2 class="section-title">Misión y Visión</h2>
    <p class="section-description">
      Nuestro equipo se guía por principios fundamentales que definen nuestro enfoque y dirección. 
      Nos esforzamos por mantenernos a la vanguardia de la innovación tecnológica, creando soluciones que no solo cumplen con las expectativas de nuestros clientes, 
      sino que también contribuyen al desarrollo continuo de nuestra industria. A través de un compromiso firme con nuestros objetivos, buscamos establecer un estándar de excelencia y transformación en el ámbito tecnológico.
    </p>
    <div class="cards-container">
      <div class="card mission-card">
        <h3 class="card-title">Misión</h3>
        <p class="card-description">
          Somos un equipo altamente competente pero en constante mejora de desarrolladores de software talentosos que están comprometidos a producir un software excelente y a fomentar un entorno de colaboración y confianza.
        </p>
      </div>
      <div class="card vision-card">
        <h3 class="card-title">Visión</h3>
        <p class="card-description">
          Ser líderes en el desarrollo de soluciones tecnológicas innovadoras, enfocadas en satisfacer las necesidades de nuestros clientes y transformar positivamente su entorno digital.
        </p>
      </div>
    </div>
  </section>

  <section class="tools-wave-section">
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
      </g>
    </svg>
  </section>
  
  <section class="values-section">
    <h2 class="section-title">Nuestros Valores</h2>
    <p class="section-description">
      En nuestro equipo, valoramos profundamente ciertas cualidades que nos guían en nuestro trabajo diario y en la consecución de nuestros objetivos. Estos valores son fundamentales para nuestro éxito y crecimiento continuo. A continuación, te presentamos los valores que definen nuestra forma de trabajar y colaborar.
    </p>
    <div class="cards-container">
      <div class="card value-card leadership-card">
        <div class="icon-container">
          <i class="fas fa-user-tie"></i> <!-- Ícono de liderazgo -->
        </div>
        <h3 class="card-title">Liderazgo</h3>
        <p class="card-description">
          Esta es una cualidad presente en todos los miembros del equipo, bajo la cual se confrontan las diversas problemáticas que lleguen a surgir, enfocándose siempre en dar lo mejor de cada uno y demostrando con acciones la voluntad de hacer surgir a todo el grupo.
        </p>
      </div>
      <div class="card value-card cooperation-card">
        <div class="icon-container">
          <i class="fas fa-hands-helping"></i> <!-- Ícono de cooperación -->
        </div>
        <h3 class="card-title">Cooperación</h3>
        <p class="card-description">
          Mediante la cooperación se fomentará el respeto, apoyo y desarrollo profesional e individual de cada miembro del equipo, donde se creará un ambiente de trabajo armonioso que permitirá cumplir con los objetivos propuestos en conjunto de manera exitosa y bajo un excelente servicio de calidad con el producto presentado.
        </p>
      </div>
      <div class="card value-card diversity-card">
        <div class="icon-container">
          <i class="fas fa-users"></i> <!-- Ícono de diversidad -->
        </div>
        <h3 class="card-title">Diversidad</h3>
        <p class="card-description">
          Más que un enfoque en diferencias de pensamiento y criterio, la diversidad profesional y de vida de cada uno y una de los integrantes será esencial para el desarrollo del proyecto al dar variedad de perspectivas y retroalimentación a la hora de definir los enfoques de cada etapa.
        </p>
      </div>
      <div class="card value-card empathy-card">
        <div class="icon-container">
          <i class="fas fa-hand-holding-heart"></i> <!-- Ícono de empatía -->
        </div>
        <h3 class="card-title">Empatía</h3>
        <p class="card-description">
          Las circunstancias de vida y capacidades de cada individuo son distintas. Tener empatía al interactuar, tomando esto en cuenta a la hora de ofrecer cooperación y explicar, al igual que comprender si hay un momento donde se tiene que dar un poco más de esfuerzo para cubrir a algún integrante, que bajo una razón justificable, no pueda presentar su aporte asignado a tiempo.
        </p>
      </div>
      <div class="card value-card dynamism-card">
        <div class="icon-container">
          <i class="fas fa-bolt"></i> <!-- Ícono de dinamismo -->
        </div>
        <h3 class="card-title">Dinamismo</h3>
        <p class="card-description">
          La lógica de Scrum nos motiva a ser dinámicos a la hora de tomar decisiones y de afrontar los cambios que puedan surgir durante el proyecto, priorizando de manera asertiva las nuevas disposiciones que se deban tomar, sin atarse a una estructura o plan rígido que impida la flexibilidad que vaya a necesitar cada nueva iteración con base en su retroalimentación.
        </p>
      </div>
    </div>
  </section>

  <section class="tools-wave-section-top">
    <svg class="hero-waves-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
      </g>
    </svg>
  </section>

  <section class="services-intro">
    <div class="container">
      <div class="left-content">
        <h1>JJARB</h1>
        <h2>¡Codea para el futuro!</h2>
        <p>En nuestra empresa, nos dedicamos a ofrecer una amplia gama de servicios diseñados para satisfacer las necesidades únicas de cada cliente. Nuestro enfoque se basa en la innovación, la calidad y la personalización, asegurando que cada solución esté perfectamente adaptada a tus objetivos y desafíos. Desde el desarrollo de software a medida hasta la consultoría técnica y la implementación de estrategias digitales, estamos comprometidos en proporcionar un servicio excepcional que impulse tu negocio hacia el éxito. Permítenos ayudarte a transformar tus ideas en realidades tangibles con soluciones efectivas y eficientes.
        </p>
        <button routerLink="/landingProduct" class="login-button">Ver Servicios</button>
      </div>
      <div class="right-content">
        <img src="assets/icons/JJARB.png" alt="JJARB Logo" class="logo">
      </div>
    </div>
  </section>

  <footer class="footer-small">
    <div class="footer-content">
      <div class="logo-container">
        <img src="assets/icons/JBART.png" alt="JBART Logo" class="logo">
        <h1 class="footer-name">JBART</h1>
      </div>
      <nav class="footer-nav">
        <a routerLink="/">Nosotros</a>
        <a routerLink="/landingProduct">Servicios</a>
      </nav>
      <a routerLink="/register-options" class="register-button">Registrarse</a>
    </div>
  </footer>

</div>
</app-layout-landing>