.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.text-center {
    text-align: center;
}

.form-container {
    max-width: 800px;
    margin: auto;
}

.invalid-feedback {
    position: absolute;
    margin-top: 0px;
}