.titulo {
    font: 600 40px / 35px Roboto;
    color: #4b545c;
    padding-top: 65px;
    padding-left: 58px;
    margin-bottom: 6px !important; 
}

.divisor {
    position: relative;
    margin-bottom: 40px; 
}
  
.divisor::after {
  content: "";
  display: block;
  width: 10%; 
  border-bottom: 2.5px solid #4a4d54; 
  position: absolute;
  bottom: 0;
  left: 3.5%; 
  right: 60%;
  top: 0;
}

.no-orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; 
}

.no-orders-icon {
  font-size: 72px; 
}

.no-orders-text {
  margin-top: 20px; 
  font-size: 24px; 
  text-align: center;
  color: #333; 
}
  