<div class="container-fluid">
  <div>
    <h2 class="titulo">Listado de Ordenes</h2>
  </div>
  <div class="divisor"></div>
  
  <div *ngIf="!isLoading">
    <ng-container *ngIf="orders.length > 0; else noOrders">
      <app-order-list [orderList]="orders" [areActionsAvailable]="false"></app-order-list>
    </ng-container>
    <ng-template #noOrders>
      <div class="no-orders-container">
        <i class="fa-solid fa-circle-exclamation no-orders-icon"></i>
        <div class="no-orders-text">No hay órdenes para mostrar.</div>
      </div>
    </ng-template>
  </div>
</div>
