<div class="table-container table-responsive">
    <div style="display: block;">
        <canvas #barChart></canvas>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Cantidad Vendida</th>
            </tr>
        </thead>
        <tbody>
            @for (item of itemsList; track $index) {
            <tr>
                <th>{{item.productName}}</th>
                <td>{{item.category}}</td>
                <td>{{item.quantitySold}}</td>
            </tr>
            } @empty {
            <tr>
                <td colspan="6" class="text-center">No hay productos vendidos</td>
                }
        </tbody>
    </table>
</div>