<div class="row">
  <h1 class="mt-3">Perfil</h1>
  <div class="row border bg-white m-2 p-4 rounded-3">
    <div class="col-md-6">
      <img src="{{brandProfileService.user$().logoType}}" class="rounded-circle" alt="User profile picture">
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-dark m-2">Subir nueva imagen</button>
      <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
  <div class="row border bg-white m-2 p-4 rounded-3">
    <div class="col-md-6 mt-3">
      <label for="name" class="form-label">Direccion del local principal</label>
      <input #mainLocationAddress="ngModel" type="text" class="form-control" id="mainLocationAddress"
        name="mainLocationAddress"
        [(ngModel)]="brandProfileService.user$().mainLocationAddress" [ngClass]="{
        'is-invalid': mainLocationAddress.invalid && mainLocationAddress.touched,
        'is-valid': mainLocationAddress.valid && mainLocationAddress.touched
      }" required>
      @if(mainLocationAddress.invalid) {
      <div *ngIf="mainLocationAddress.invalid" class="invalid-feedback">
        Por favor, añade la dirección de tu local principal
      </div>
      }
    </div>
    <div class="col-md-6 mt-3">
      <label for="name" class="form-label">Categorias</label>
      <input #brandCategories="ngModel" type="text" class="form-control" id="brandCategories" name="brandCategories"
        [(ngModel)]="brandProfileService.user$().brandCategories" [ngClass]="{
        'is-invalid': brandCategories.invalid && brandCategories.touched,
        'is-valid': brandCategories.valid && brandCategories.touched}"
        required>
      @if (brandCategories.invalid) {
      <div *ngIf="brandCategories.invalid" class="invalid-feedback">
        Por favor, añade las categorias de tu marca
      </div>
      }
    </div>
    <div class="col-md-6 mt-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input #email="ngModel" type="email" class="form-control" id="email" name="email"
        [(ngModel)]="brandProfileService.user$().email" [ngClass]="{
        'is-invalid': email.invalid && email.touched,
        'is-valid': email.valid && email.touched
        }" required>
      @if (email.invalid) {
      <div *ngIf="email.invalid" class="invalid-feedback">
        Por favor, añade un correo electrónico válido
      </div>
      }
    </div>
    <div class="col-md-6 mt-3">
      <label for="password" class="form-label">Contraseña</label>
      <input #password="ngModel" type="password" class="form-control" id="password" name="password"
        value="{{brandProfileService.user$().password}}" [(ngModel)]="brandProfileService.user$().password" [ngClass]="{
        'is-invalid': password.invalid && password.touched,
        'is-valid': password.valid && password.touched
      }" required>
      @if (password.invalid) {
      <div *ngIf="password.invalid" class="invalid-feedback">
        Por favor, añade una contraseña válida
      </div>
      }
    </div>
    <div class="col-md-6 mt-4 align-content-end">
      <button (click)="handleFormAction();"  type="button" class="btn btn-dark">Guardar</button>
    </div>
  </div>
</div>