.orage-text {
    color: orange;
  }
  
  .red-text {
    color: red;
  }
  
  .fa-user-tie {
    font-size: 140px;
    color: rgb(206, 206, 206);
  }
  
  .info-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .info-container label{
    font-size: 16px;
    font-weight: bold;
    color: rgb(165, 162, 162);
  }
  img{
    width: 200px;
    height: 200px;
    float: right;
    margin-bottom: 10px;
   }
  
  .color{
    background-color: #212529 !important;
  }

  .titulo {
    font: 600 40px / 35px Roboto;
    color: white;
    padding-left: 16px;
    margin-bottom: 40px !important; 
    margin-top: 30px !important;
  }

  .divisor {
    position: relative;
    margin-bottom: 40px; /* Espacio para la línea */
  }

  .border-title {
    border-radius: 10px;
  }

