<div class="table-container table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Categoría</th>
          <th scope="col">Estado</th>
          <th scope="col">Calificación</th>
          <th scope="col">Fecha de creación</th>
          <th scope="col">Fecha de actualizació</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of itemList; track $index) {
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
          <td>{{item.quantityInStock}}</td>
          <td>{{item.category?.description}}</td>
          <td>{{item.status}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{item.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <div class="d-flex justify-content-evenly align-items-center">
              <button type="button" (click)="showDetailModal(item, detailModal)" class="btn btn-see">
                <i class="fa-solid fa-eye white"></i>
              </button>
              <button type="button" (click)="deleteProduct(item);" class="btn btn-del">
                <i class="fa-solid fa-trash white"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
<app-modal #detailModal>
  <app-product-form 
    [product]="selectedItem"
    [categories]="categoryService.items$()" 
    [action]="'Actualizar Producto'"
    (callParentEvent)="handleFormAction($event)" />
</app-modal>
