<div class="container mt-5 form-container">
    <div class="text-center">
        <h1>Solicitudes de registro de marca</h1>
        <p style="color: #AEAEAE;">Gestiona las solicitudes de registro de usuarios para tu marca.</p>
    </div>

    <div class="table-container table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cédula Jurídica</th>
                    <th scope="col">Nombre de Marca</th>
                    <th scope="col">Representante Legal</th>
                    <th scope="col">Dirección del Local</th>
                    <th scope="col">Categorías de la Marca</th>
                    <th scope="col">Día de solicitud</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (item of brandList; track item.id) {
                <tr>
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.legalId}}</td>
                    <td>{{item.brandName}}</td>
                    <td>{{item.legalRepresentativeName}}</td>
                    <td>{{item.mainLocationAddress}}</td>
                    <td>{{item.brandCategories}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <div class="d-flex justify-content-evenly align-items-center">
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid white"></i>
                                Aceptar
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="fa-solid white"></i>
                                Rechazar
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>