.container {
  .row {
    .col {
      .card {
        border: 1px solid #062489;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .card-img-top {
          height: 200px;
          object-fit: cover;
        }

        .card-body {
          padding: 16px;

          .card-title {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            color: #062489;
            font: 600 22px / 22px Roboto, sans-serif;
          }

          .card-text {
            font-size: 1rem;
            color: #062489;

            strong {
              color: #062489;
            }
          }

          .btn {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  // Estilos para la paginación
  .pagination {
    .page-item {
      .page-link {
        color: #062489;
        border-radius: 3px;
        border-color: #0625896e;
        width: 300px;
        text-align: center;

        &:hover {
          background-color: #f8f9fa;
          color: #062489;
        }
      }
    }

    .active .page-link {
      background-color: #062489;
      color: #fff;
      border: 1px solid #062489;
    }

    .disabled .page-link {
      cursor: not-allowed;
    }
  }
}


.titulo {
  font: 600 40px / 35px Roboto;
  color: #062489;
  padding-left: 16px;
  margin-bottom: 6px !important; 
  margin-top: 40px;
}

.divisor {
  position: relative;
  margin-bottom: 30px; /* Espacio para la línea */
}

.divisor::after {
  content: "";
  display: block;
  width: 10%; /* Ajusta el ancho de la línea */
  border-bottom: 2.8px solid #062489; /* Línea divisoria */
  position: absolute;
  bottom: 0;
  left: 2%; /* Ajusta para centrar la línea */
  right: 40%;
  top: 0;
}

.container {
  margin-bottom: 100px;
}