<!-- <div class="container-fluid">
    <div>
        <h2>Ventas</h2>
    </div>
    <div>
        @defer () {
        <div class="d-flex justify-content-end pb-2">
            <app-most-sold-products-list [itemsList]="salesService.items$()"></app-most-sold-products-list>
        </div>
        } @loading (after 100ms; minimum 1s) {
        <app-loader></app-loader>
        }
    </div>
</div>

<app-modal></app-modal> -->



<div class="container-fluid">
    <div>
        <h2 class="titulo">Ganancias Por Marca</h2>
    </div>
    <div class="divisor">
    </div>
    <div>
        @defer {
        <!-- <div class="d-flex justify-content-end pb-2">
            <button (click)="addModal.show()" type="button" class="btn btn-primary d-flex align-items-center">
                <i class="fa-solid fa-plus white"></i>
                <p class="mb-0">Añadir producto</p>
            </button>
        </div> -->
        <app-earnings-list [itemsList]="earningsService.items$()"></app-earnings-list>
        } @loading (after 100ms; minimum 1s){
        <app-loader></app-loader>
        }
    </div>
</div>

<app-modal #addModal>
    <!-- <app-product-form [action]="'Add Product'" [categories]="categoryService.items$()"
        (callParentEvent)="handleFormAction($event)" /> -->
</app-modal>