:root {
  --theme-default: #007bff;
  --theme-secondary: #fb6837;
  --light-background: rgba(242, 243, 247, 0.7);
  --body-font-color: #2f2f3b;
  --chart-border: #ecf3fa;
  --recent-chart-bg: #fcfcfd;
  --light-bg: #f6f7f9;
  --white: #fff;
  --light2: #f5f6f9;
  --sidebar-border: rgba(0, 0, 0, 0.1);
  --chart-text-color: rgba(82, 82, 108, 0.8);
  --recent-dashed-border: rgba(82, 82, 108, 0.3);
  --chart-dashed-border: rgba(82, 82, 108, 0.2);
  --chart-progress-light: rgba(82, 82, 108, 0.1);
  --recent-box-bg: #f2f4f7;
  --recent-border: rgba(97, 101, 122, 0.25);
  --course-light-btn: #f2f3f7;
  --course-bg: #f7f7f7;
  --balance-profie-bg: #e0dfef;
  --view-grid-bg: #ecf3fa80;
  --view-border-marker: #cfcdfc;

  --fc-button-bg-color: var(--theme-default);
  --fc-button-active-bg-color: var(--theme-default);
  --fc-button-active-border-color: var(--theme-default);
  --fc-button-border-color: var(--theme-default);
  --fc-button-hover-bg-color: var(--theme-default);
  --fc-button-hover-border-color: var(--theme-default);
}

body[class="dark-only"] {
  --light-background: rgba(31, 32, 40, 0.65);
  --recent-chart-bg: #262932;
  --light-bg: #1d1e26;
  --white: #262932;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --light2: #1d1e26;
  --chart-border: #374558;
  --recent-box-bg: #1d1e26;
  --recent-border: #374558;
  --body-font-color: rgba(255, 255, 255, 0.6);
  --course-light-btn: var(--light-bg);
  --view-grid-bg: var(--light-bg);
  --view-border-marker: #2c2c45d4;
}
@import "./assets/utils/variables";
@import "./assets/layout/layout.scss";

html, body { 
  height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar .mdc-snackbar__surface{
  background-color: rgb(197, 49, 49) !important;
}

.btn {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 4px; 
  padding: 10px 20px; 
  border: 1px solid transparent; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-add {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white;
  
  font: 450 18px/30px Roboto, sans-serif !important;

  &:hover {
    background-color: #0872e2 !important; 
    border-color: #0872e2 !important;
    color: white;
    transform: scale(1.1); 
  }
}

.btn-up {
  background-color: #fb6837 !important;
  border-color: #fb6837 !important;
  color: white;
  font: 450 18px/30px Roboto, sans-serif !important;

  &:hover {
    background-color: #e55e2a !important; 
    border-color: #e55e2a !important;
    color: white;
    transform: scale(1.1); 
  }
}


.btn-del {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: white;
  font: 450 18px/30px Roboto, sans-serif !important;
  &:hover {
    background-color: #bf162a !important; 
    border-color: #bf162a !important;
    color: white;
    transform: scale(1.1); 
  }
}


.btn-see {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: white;
  font: 450 18px/30px Roboto, sans-serif !important;

  &:hover {
    background-color: #555b60 !important; 
    border-color: #555b60 !important;
    color: white;
    transform: scale(1.1); 
  }
}